<div style="height: inherit; width: inherit; padding: 2em;">
    <div class="Dtitle">Edit base product</div>
    <div class="inputsections">
        <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Product name*</mat-label>
            <input matInput type="text"  >
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Select subcategory*</mat-label>
            <mat-select>
                <mat-option>
                 subcategory
                </mat-option>
                <mat-option>
                   subcategory
                  </mat-option>
                  <mat-option>
                    subcategory
                  </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Product description*</mat-label>
            <input matInput type="text"  >
        </mat-form-field>
    </div>
    <div style="color:red; width: 100%;margin-bottom: 1em;">
        Error message
    </div>
    <div class="controls" style="width: 100%;margin-bottom: 1em; ">
        <div mat-dialog-actions>
        <button class="savebutton">Save</button>
        <button class="cancelbutton" mat-dialog-close>Cancel</button>
        </div>
    </div>
</div>

