
.Dtitle{
    color: #534686;
    font-weight: 500;
    font-size: 2em;
}
.addCatsection{
    width: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 2em;
    padding: 2em;
    color: #534686;
}
.catTitle{
    width: auto;
    color:#534686;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 1em;
}
.catinputs{
    margin-bottom: 1em;
}
.errorlabel{
    margin: 10px;
    color: red;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px dotted #534686;
    display: flex;
    justify-content: center;
    padding: 12px 12px;
    cursor: pointer;
    width: -webkit-fill-available;
    background-color: #ece7ff;
    color: gray;
}