
.Dtitle{
    color: #534686;
    font-weight: 500;
    font-size: 2em;
}
.addCatsection{
    width: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 2em;
    padding: 2em;
    color: #534686;
}