.contact-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contact-content{
    position: relative;
    display: inline;
    height: 100%;
}
.contact-content-wrapper{
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    min-height: 40em;
}
.checkTitle{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}
// ::ng-deep .mat-step-icon-content { display: none !important; }
// ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
//     display: none !important;}

    .cdk-global-overlay-wrapper, .cdk-overlay-container {
        z-index: 99999 !important;
     }
.checkout-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formc{
    width: 40em;
}
    .login-inputs{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
    .input-spot{
        width: 100%;
        margin-bottom:1em;
        color: rgb(69, 69, 69);
    }
    .subtitle{
        color: rgb(69, 69, 69);
        margin-bottom:1em
    }
    .redirectButton:hover{
        cursor: pointer;
        color:black
    }
    .buttonsadd{
        float: right;
    }

    .checkoutdone{
        width: 40em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .summary{
        background-color: rgb(248, 248, 248);
        width: 400px;
        float: right;
        margin-left: 10em;
    }
    .summary-title{
        padding: 1em;
        width: 100%;
        padding-left: 2.4em;
        font-weight: 500;
        font-size: larger;
    }
    .summary-details{
        list-style: none;
        color: gray;
        padding-left: 3em;
        padding-right: 3em;
        margin:0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: 0.5px solid rgb(236, 235, 235);
    }
    .price{
        float: right;
    }
    .example-radio-group {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        align-items: flex-start;
      }
      
      .example-radio-button {
        margin: 5px;
      }