<div class="contact-body">
    <app-header [itemsCount]="itemsCount"></app-header>
    <div class="contact-content">
        <div class="contact-content-wrapper">
            <div class="firstsection">
                <div class="imagepart">
                    <img style="width: inherit; height: inherit;" [src]="variant.url">
                </div>
                <div class="detailspart">
                    <div class="prodtitle">{{variant.name}}</div>
                    <div class="pricep">{{variant.price}}$</div>
                    <div class="attributes" *ngFor="let att of attributes;let i = index">
                        <div class="titlea">{{att.name}}
                        </div>
                        <div class="valuesa">
                            <div *ngFor="let val of att.values">
                            <div class="valuea"
                             [ngStyle] = "{border: (val.value===selectedF)||(val.value===selectedS)? '2px solid black':'1px solid black'}"
                             *ngIf="varMap.get(val.value)!.show" 
                             (click)="getNextAtt(i,val.value)">
                                {{val.value}}
                            </div>
                            <div class="valueaDisabled" *ngIf="!varMap.get(val.value)!.show">
                                {{val.value}}
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="productcontrols">
                        <div class="inputsp">
                            <div class="quantity" (click)="decrease()"><mat-icon>remove</mat-icon></div>
                            <div class="numberp">{{quant}}</div>
                            <div class="quantity" (click)="increase()"><mat-icon>add</mat-icon></div>
                        </div>
                        <button class="mybutton" (click)="addToCart()">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

